#notification-container {
    height:100vh;
    width:min(100vw, 30rem);
    padding:4rem 1rem;

    visibility: hidden;
    position:absolute;
    right:0;
    top:0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:1rem;
}

.notification {
    font-size:1.5rem;
    visibility: visible;
    z-index:100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    color:black;
    
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);

    opacity: 1;
    transition: opacity 0.3s;
    animation-name: notificationEnter;
    animation-duration: 0.3s;
}
.notification-content {
    width:100%;
    padding:1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification .icon-btn {
    padding:0;
}

.notification-timer {
    width:100%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;   
}

.notification-timer div {
    height:5px;
    transform-origin: left center;
    background-color:var(--main-color);
}

/*
#
# Animations
#
*/
/* Animated timer at the bottom of the notification */
@keyframes timer {
    to {
      transform: scaleX(0);
    }
}

@keyframes notificationEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

