#notification-container {
    visibility: hidden;
    position:absolute;
    right:0;
    height:0;
    height:100vh;
    width:min(100vw, 30rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:1rem;
    padding:4rem 1rem;
}

.notification {
    visibility: visible;
    z-index:100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color:black;
    font-size:1.5rem;
    border-radius: 10px;
    /* padding:1rem; */

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);

    transition: opacity 0.3s;
    opacity: 1;
    animation-name: notificationEnter;
    animation-duration: 0.3s;
}
.notification-content {
    padding:1rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-timer {
    width:100%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;   
}

.notification-timer div {
    background-color:#0B409C;
    height:5px;
    /* animation: ; */
    transform-origin: left center;
}
@keyframes roundtime {
    to {
      /* More performant than animating `width` */
      transform: scaleX(0);
    }
  }
.close-notification-btn {
    border: none;
    background-color:white;
    transition: 0.3s;
}

.close-notification-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

@keyframes notificationEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

