@import url("reset.css");
@import url("task-list.css");
@import url("task-overview.css");
@import url("modals.css");
@import url("notifications.css");

/* Themes are loaded in seperately */
/*
#
# General styling
#
*/
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    min-height:100vh;
    width:100vw;
    color:var(--text-color);    
}

a {
    text-decoration:none;
    color:var(--text-color);
}

/* Set font sizes */
h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

h3 {
    font-size: clamp(1rem, 2vw, 2rem);
}

p, figcaption {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
}


main {
    display:flex;
    height:100vh;
    width:100vw;
}

/*
#
# Buttons and clickable elements
#
*/
.clickable-animated-small, .clickable-animated-big {
    transition: 0.3s;
}
.clickable-animated-big:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.clickable-animated-small:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

.clickable:hover {
    cursor: pointer;
}

.btn {
    background-color:var(--main-color);
    box-shadow: 5px 5x 10px -5px rgba(0, 0, 0, 0.5);
    padding:1rem;
    font-size: 1.25rem;
    border:none;
    color:var(--secondary-text-color);
    border-radius:5px;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

.round-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:3rem;
    height:3rem;
    font-size:2.5rem;
    font-weight: 800;
    color:var(--secondary-text-color);
    border-radius: 50%;
    background-color: inherit;
    border:5px solid var(--secondary-text-color);
    transition: 0.3s;
}

.round-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}

.icon-btn {
    background-color: transparent;
    padding:1rem;
    font-size: 2rem;
    border:none;
    transition: 0.3s;
}

.icon-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* text decorations */
.overdue-text {
    color:rgb(150, 0, 0);
}

.disabled-text {
    text-decoration: line-through;
    color:darkgray;
}

/*
#
# Media query
#
*/
@media only screen and (max-width: 900px) {
    .round-btn {
        width:2rem;
        height:2rem;
        font-size:1.5rem;
        border:3px solid var(--secondary-text-color);
    }   
}